@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nf1pj');
  src:  url('fonts/icomoon.eot?nf1pj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nf1pj') format('truetype'),
    url('fonts/icomoon.woff?nf1pj') format('woff'),
    url('fonts/icomoon.svg?nf1pj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon"], [class*=" icomoon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lbs-1 .path1:before {
  content: "\e902";
  color: rgb(204, 204, 204);
}
.icon-lbs-1 .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-lbs-1 .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-lbs-1 .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 216, 0);
}
.icon-lbs-2 .path1:before {
  content: "\e906";
  color: rgb(204, 204, 204);
}
.icon-lbs-2 .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-lbs-2 .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 216, 0);
}
.icon-lbs-2 .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 216, 0);
}
.icon-lbs-3 .path1:before {
  content: "\e90a";
  color: rgb(204, 204, 204);
}
.icon-lbs-3 .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 216, 0);
}
.icon-lbs-3 .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 216, 0);
}
.icon-lbs-3 .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 216, 0);
}
.icon-lbs:before {
  content: "\e900";
  color: rgb(0, 216, 0);
}
.icon-lbs-0:before {
  content: "\e901";
  color: #ccc;
}
.icon-lbs-4:before {
  content: "\e90e";
  color: rgb(0, 216, 0);
}
.icon-zhuanyi:before {
  content: "\e600";
}
.icon-icon_delete:before {
  content: "\e618";
}
.icon-dingwei:before {
  content: "\e627";
}
.icon-zhongzhimima:before {
  content: "\e682";
}
.icon-xiugai:before {
  content: "\e728";
}
.icon-voltage:before {
  content: "\e90f";
}
.icon-ship:before {
  content: "\e910";
}
.icon-excavator:before {
  content: "\e911";
}
.icon-door:before {
  content: "\e912";
}
.icon-share:before {
  content: "\e913";
}
.icon-warn:before {
  content: "\e914";
}
.icon-code:before {
  content: "\e915";
}
.icon-dial:before {
  content: "\e916";
}
.icon-engine:before {
  content: "\e917";
}
.icon-satellite:before {
  content: "\e918";
}
.icon-history:before {
  content: "\e919";
}
.icon-alert:before {
  content: "\e91a";
}
.icon-oil:before {
  content: "\e91b";
}
.icon-blender:before {
  content: "\e91c";
}
.icon-POI:before {
  content: "\e91d";
}
.icon-fence:before {
  content: "\e91e";
}
.icon-transfer:before {
  content: "\e91f";
}
.icon-street:before {
  content: "\e920";
}
.icon-details:before {
  content: "\e921";
}
.icon-playback:before {
  content: "\e922";
}
