.vehicle-selection {
  position: relative;
  top: -35px;
  left: -35px;
  width: 250px;
}

.vehicle-selection .card-body {
  padding: 15px;
}

.vehicle-selection .list-group .list-group-item {
  padding: 10px;
  line-height: 1;
}

.vehicle-selection .list-group .list-group-item.active {
  background: #009afe;
  color: #fff;
}

.vehicle-selection .list-group .list-group-item.active i {
  color: #fff;
}

.vehicle-selection .list-group .list-group-item i {
  line-height: 0;
  top: 0;
}

.vehicle-selection .list-group .list-group-item i.icon-wifi {
  color: #28c76f;
}

.vehicle-selection .list-group .list-group-item i.icon-wifi-off {
  color: #fe4550;
}

#vehicleList {
  max-height: calc(100vh - 200px);
  overflow: auto;
}

#map-container {
  min-height: -webkit-calc(100% - 70px);
  min-height: -moz-calc(100% - 70px);
  min-height: calc(100% - 70px);
  position: fixed;
  left: 330px;
  top: 70px;
  width: -webkit-calc(100% - 330px);
  width: -moz-calc(100% - 330px);
  width: calc(100% - 330px);
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#toolbar {
  padding: 5px;
  position: absolute;
  left: 48px;
  right: 5px;
  top: 5px;
  z-index: 9999;
}

#toolbar .select-map {
  display: inline-block;
}

#toolbar .timeout {
  float: right;
  width: 60px;
}

#toolbar select.form-control {
  background-position-y: center;
  background-position-x: calc(100% - 5px);
  padding: 2px 20px 2px 5px;
  height: 30px;
  line-height: 20px;
}

#timer {
  background: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 9999;
}

#trip .address-route {
  border: 1px solid #ccc;
  padding: 10px;
}

#trip .address-route > div {
  display: flex;
}

#trip .address-route > div i {
  margin-right: 10px;
  margin-top: 3px;
}

#trip .address-route > div small {
  font-style: italic;
}

#trip .address-route > div.address-from {
  margin-bottom: 10px;
}

#trip .total-mileage {
  margin: 10px 0;
}

#action {
  display: flex;
}

#action .buttons {
  flex: 0 0 40px;
}

#action .buttons .btn {
  padding: 10px;
}

#action .playback {
  flex: 1;
}

#action .playback .progress {
  margin-bottom: 5px;
  width: 100%;
}

#playbackInfo {
  display: flex;
  font-size: 10px;
  margin-bottom: 10px;
}

#playbackInfo .time {
  flex: 0 0 100px;
}

#track-detail {
  background: #fff;
  bottom: -40px;
  height: 250px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999999;
}

#track-detail h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 2px;
  padding: 5px;
}

#track-detail table thead {
  display: block;
  position: relative;
  width: 100%;
}

#track-detail table tbody {
  display: block;
  height: 190px;
  width: 100%;
  position: relative;
  overflow-y: scroll;
}

#track-detail table tr {
  display: flex;
  width: 100%;
}

#track-detail table th {
  background: #ecf0f7;
}

#track-detail table td,
#track-detail table th {
  display: block;
  flex-basis: 100%;
  flex-grow: 2;
  font-size: 13px;
  padding: 3px 5px;
}

.device-tooltip {
  background: #009afe;
  border: 1px solid #fff;
  color: #fff;
  font-size: 10px;
  margin-top: 16px;
  margin-left: 0px;
  padding: 2px 5px;
}

.device-tooltip::before {
  display: none;
}

.map-widgets {
  background: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
}

.map-widgets .widgets-container {
  display: flex;
  overflow: auto;
}

@media (max-width: 1200px) {
  #map-container {
    left: 0;
    width: 100%;
  }
}

.map-device-popup .leaflet-popup-content-wrapper {
  background: none;
  box-shadow: none;
  padding: 0;
}

.map-device-popup .leaflet-popup-content {
  margin: 0;
}

.map-device-popup a.leaflet-popup-close-button {
  top: 5px;
  right: 5px;
}

.map-popover {
  font-size: 12px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, arial, microsoft yahei, "\5B8B\4F53";
  width: 300px;
  border-radius: 0;
  z-index: 9999999;
}

.map-popover:before,
.map-popover:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  z-index: 2;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-width: 10px 8px;
  border-style: solid;
  border-color: #f9f9f9 transparent transparent #f9f9f9;
}

.map-popover:after {
  border-width: 11px 10px;
  bottom: -23px;
  z-index: 1;
  margin-left: 4px;
  border-color: rgba(0, 0, 0, .15) transparent transparent rgba(0, 0, 0, .15);
}

.popover-header {
  position: relative;
  box-shadow: inset 0 1px 0 #fff;
  background: none;
  border-bottom: none;
}

.popover-header h5 {
  margin: 0;
}

.popover-close {
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: 500;
  line-height: .8;
  color: #999;
  cursor:
    pointer;
}

.popover-close:hover {
  color: #f40000;
}

.popover-body table {
  table-layout: fixed;
}

.popover-body table tr th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover-body table th,
.popover-body table td {
  padding: 2px;
  vertical-align: top;
}

.popover-footer {
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 1px 0 #fff;
}

.popover-footer a {
  display: inline-block;
  margin-right: 8px;
  max-width: 100px;
  white-space: nowrap;
  text-overflow:
    ellipsis;
  color: #0087d6;
  cursor: pointer;
}

.map-popover table th {
  padding-right: 5px;
  text-align: right;
  font-weight: normal;
}

.map-popovers {
  width: 300px;
  top: -313px;
  left: -100px;
  border-radius: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.map-popover:before,
.map-popover:after {}

.map-popover:after {}

.popover-close {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #afafaf;
  background: #fff
}

.popover-close:hover .map-popover {
  background: #00d600;
}

.popover-header,
.popover-body,
.popover-footer {
  padding: 4px 15px;
  border-radius: 0;
}

.popover-header .title {
  margin: 0;
  padding: 4px 0;
}

.popover-header .deviceName {
  display: inline-block;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
  width: 120px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popover-header .imei {
  display: inline-block;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 130px;
  line-height: 24px;
}

.popover-body {
  padding-top: 15px;
  display: inline-block;
  position: relative;
}

.popover-body .fa-circle-o-notch {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 16px;
  color: #cccccc;
}

.popover-body .fa-expiration {
  position: absolute;
  top: -5px;
  right: 40px;
  font-size: 12px;
  color: red;
}

.popover-body-left {
  border: 1px solid #ccc;
  width: 102px;
  height: 102px;
  display: table-cell;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  left: 0px;
  bottom: 5px;
}

.popover-body-left-tips {
  position: absolute;
  height: 18px;
  width: 64px;
  left: 55px;
  top: 6px;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  background: #fe4650;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popover-body-right {
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
}

.popover-body-right ul {
  list-style: none;
  padding-left: 0;
}

.popover-body-right ul li {
  display: flex;
  margin-bottom: 3px;
}

.popover-body-right ul li:last-child {
  margin-bottom: 0;
}

.popover-body-right ul li i {
  text-align: center;
  font-size: 18px;
  width: 20px;
  margin-right: 5px;
  flex: 20px 0 0;
}

.popover-body-right ul li .text {
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}

.popover-body-top {
  margin-bottom: 10px;
  display: table;
}

.popover-body-top,
.popover-body-bottom {
  display: inline-block;
  width: 100%;
  position: relative;
}

.popover-body-bottom .item {
  margin-bottom: 0;
  margin-top: 0;
}

.popover-body-bottom .title {
  display: inline-block;
  width: 105px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.popover-body-bottom .text {
  display: inline-block;
  color: #808080;
  width: 160px;
  line-height: 1.3;
}

.popover-body-bottom .more-wrapper {
  position: absolute;
  bottom: 4px;
  right: -8px;
  font-size: 20px;
  cursor: pointer;
}

.popover-body-bottom .more-wrapper:hover {
  color: #f40000;
}

.popover-body-bottom .more-wrapper i {
  width: 20px;
  height: 20px;
  text-align: center;
}

.battery-wrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: top;
}

.popover-body .battery {
  position: relative;
  border: 1px solid #9c9c9c;
  padding: 1px;
  width: 20px;
  height: 10px;
  display: inline-block;
  vertical-align: sub;
}

.popover-body .battery::before {
  content: "";
  position: absolute;
  right: -3px;
  top: 50%;
  height: 50%;
  width: 2px;
  background-color: #9c9c9c;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.popover-body .border-color-moving {
  display: table-cell;
  text-align: center;
  border: 1px solid #00d600;
}

.moving-box {
  display: table-cell;
  vertical-align: middle;
  width: 102px;
  height: 102px;
}

.popover-body .border-color-offline {
  font-size: 20px;
  line-height: 102px;
  color: #666;
  border: 1px solid #666;
}

.popover-body .border-color-static {
  font-size: 20px;
  line-height: 102px;
  color: #de3b3b;
  border: 1px solid #de3b3b;
}

.popover-body .border-color-idling {
  font-size: 20px;
  line-height: 102px;
  color: #f7a023;
  border: 1px solid #f7a023;
}

.popover-body .battery-line {
  width: 100%;
  height: 100%;
  background-color: #1fd330;
  display: block;
}

.popover-body .speed,
.popover-body .unit,
.popover-body .status {
  text-align: center;
  margin: 2px 0;
}

.border-color-moving .speed {
  font-size: 38px;
  color: #00d600;
}

.border-color-moving .status {
  color: #00d600;
  font-size: 20px;
}

.border-color-static .status {
  color: #f40000;
  font-size: 20px;
}

.popover-footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 8px 0 6px 0;
}

.popover-footer ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.popover-footer ul li {
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 15px;
}

.popover-footer ul li:last-child {
  margin-right: 0
}

.popover-footer ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.popover-footer ul li a i {
  transition: 0.3s;
  font-size: 22px;
  color: #666
}

.popover-footer ul li a i:hover {
  color: #42aeed;
}