.form-group.error .help-block,
.form-group.error .help-inline,
.form-group.issue .help-block,
.form-group.issue .help-inline {
  color: #ea5455;
  font-size: .875rem;
  padding-top: .2rem;
}

.form-group.error input,
.form-group.error select,
.form-group.error textarea,
.form-group.issue input,
.form-group.issue select,
.form-group.issue textarea {
  border-color: #ea5455
}

.form-group.error input:focus,
.form-group.error select:focus,
.form-group.error textarea:focus,
.form-group.issue input:focus,
.form-group.issue select:focus,
.form-group.issue textarea:focus {
  border-color: #ea5455;
  -webkit-box-shadow: 0 3 10px 0 #ea5455;
  box-shadow: 0 3 10px 0 #ea5455
}

table tfoot {
  display: table-header-group;
}
.card.is-loading {
  overflow: hidden;
}
.card.is-loading::before {
  content: "";
  background: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.card.card.is-loading::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spinner-border .75s linear infinite;
  -moz-animation: spinner-border .75s linear infinite;
  -o-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}

#loading {
  background: rgba(255, 255, 255, .75);
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999999;
}

#loading .spinner-border {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  height: 50px;
  width: 50px
}

.btn-actions .btn {
  padding: 6px;
}
.btn-actions .btn i {
  font-size: 22px;
}

.dataTables_wrapper .table-responsive {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: auto;
}
.dataTables_length {
  display: inline-block;
}
.dataTables_length label {
  font-size: inherit;
}
.dataTables_info {
  display: inline-block;
  margin-left: 15px;
}

table.table-report {
  border-collapse: collapse !important;
  margin-top: 0 !important;
}

table.table-report thead th {
  border: 1px solid #bebebe;
}
